body{
  background-color: black;

}


#errorMessages{

color:red;

}

h1 { 
   font-size: 100px;
  color:white;
}

h2 { 
   font-size: 400px;
  text-align: center;
  color:white;
}
label, legend{
  color:white;
}

